In [30]:
import pandas as pd

import matplotlib.pyplot as plt
import numpy as np
df = pd.read_csv('dataPlaty.csv')
df.columns

Index(['timestamp', 'company', 'level', 'title', 'totalyearlycompensation',
       'location', 'yearsofexperience', 'yearsatcompany', 'tag', 'basesalary',
       'stockgrantvalue', 'bonus', 'gender', 'otherdetails', 'cityid', 'dmaid',
       'rowNumber', 'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree',
       'Highschool', 'Some_College', 'Race_Asian', 'Race_White',
       'Race_Two_Or_More', 'Race_Black', 'Race_Hispanic', 'Race', 'Education'],
      dtype='object')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62642 entries, 0 to 62641
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   timestamp                62642 non-null  object
 1   company                  62637 non-null  object
 2   level                    62523 non-null  object
 3   title                    62642 non-null  object
 4   totalyearlycompensation  62642 non-null  int64
 5   location                 62642 non-null  object
 6   yearsofexperience        62642 non-null  float64
 7   yearsatcompany           62642 non-null  float64
 8   tag                      61788 non-null  object
 9   basesalary               62642 non-null  float64
 10  stockgrantvalue          62642 non-null  float64
 11  bonus                    62642 non-null  float64
 12  gender                   43102 non-null  object
 13  otherdetails             40137 non-null  object
 14  cityid                   62642 non-null  int64
 15  dmaid                    62640 non-null  float64
 16  rowNumber                62642 non-null  int64
 17  Masters_Degree           62642 non-null  int64
 18  Bachelors_Degree         62642 non-null  int64
 19  Doctorate_Degree         62642 non-null  int64
 20  Highschool               62642 non-null  int64
 21  Some_College             62642 non-null  int64
 22  Race_Asian               62642 non-null  int64
 23  Race_White               62642 non-null  int64
 24  Race_Two_Or_More         62642 non-null  int64
 25  Race_Black               62642 non-null  int64
 26  Race_Hispanic            62642 non-null  int64
 27  Race                     22427 non-null  object
 28  Education                30370 non-null  object
dtypes: float64(6), int64(13), object(10)
memory usage: 13.9+ MB

In [32]:
df.describe()

,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,cityid,dmaid,rowNumber,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic
count,6.264200e+04,62642.000000,62642.000000,6.264200e+04,6.264200e+04,62642.000000,62642.000000,62640.000000,62642.000000,62642.000000,62642.000000,62642.000000,62642.000000,62642.000000,62642.000000,62642.000000,62642.000000,62642.000000,62642.000000
mean,2.163004e+05,7.204135,2.702093,1.366873e+05,5.148608e+04,19334.746588,9856.201989,616.097222,41694.723732,0.245698,0.201223,0.028783,0.005108,0.005667,0.187925,0.128221,0.012835,0.011015,0.018039
std,1.380337e+05,5.840375,3.263656,6.136928e+04,8.187457e+04,26781.292040,6679.104563,289.843390,24488.865879,0.430504,0.400917,0.167196,0.071291,0.075067,0.390655,0.334338,0.112562,0.104373,0.133094
min,1.000000e+04,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.350000e+05,3.000000,0.000000,1.080000e+05,0.000000e+00,1000.000000,7369.000000,506.000000,20069.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.880000e+05,6.000000,2.000000,1.400000e+05,2.500000e+04,14000.000000,7839.000000,807.000000,42019.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.640000e+05,10.000000,4.000000,1.700000e+05,6.500000e+04,26000.000000,11521.000000,807.000000,63021.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4.980000e+06,69.000000,69.000000,1.659870e+06,2.800000e+06,1000000.000000,47926.000000,881.000000,83875.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [33]:
noTechnical_titles = ['Marketing', 'Mechanical Engineer', 'Sales', 'Recruiter', 'Human Resources']
df_original = df.copy()
df = df[df['title'].apply(lambda i: i not in noTechnical_titles)] #vymaže netechnické pozice v datasetu.
df.title.value_counts()

Software Engineer               41231
Product Manager                  4673
Software Engineering Manager     3569
Data Scientist                   2578
Hardware Engineer                2200
Product Designer                 1516
Technical Program Manager        1381
Solution Architect               1157
Management Consultant             976
Business Analyst                  885
Name: title, dtype: int64

In [34]:
df['gender'].unique()
df['gender'].replace({'Title: Senior Software Engineer': 'Unknown'}, inplace=True)
#vymazaní státem neuznávaná pohlaví

In [ ]:
stem_salaries = df.fillna({'company':'Unknown', 'gender':'Unknown','Race': 'Unknown', 'Education': 'Unknown'}, inplace = True) # všechny nevyplněný sloupce vyplníme hotnotou "Unknown"
df.isnull().sum()

In [ ]:
# Pojďme se podívat v jakém poměru jsou zastoupena jednotlivá pohlaví ve firmách
gender = df['gender'].value_counts().plot.pie(figsize = (10,9),radius=1,shadow=False, label = '', autopct='%1.f%%')
plt.title("Genders ratios", size = 15)
plt.show()

In [ ]:
cities = df.location.value_counts().head(10).sort_values(ascending=True) #Města s nejvíce firmami
cities.plot.barh(figsize = (11,8),color='Violet')
plt.title("Cities with most companies" ,size=20)
plt.xlabel("City" ,size= 15)
plt.ylabel("Number of companies", size = 15)
plt.show()

In [ ]:
top_saleries = df[['basesalary','title','company']].sort_values(by='basesalary',ascending=False).head(20) # 10 lidí j největším platem.
top_saleries

In [ ]:
df['count'] = 1
most_common_companies =(
                    df.groupby(['company'])
                    .count()
                    .sort_values(by='count', ascending=False)
                    .head(20)
                    .reset_index()
                    )
most_common_companies[['company', 'count']] #Firmy s nejvyšším zastoupením zaměstnanců.

In [ ]:
explode = [0, 0, 0.1, 0.2, 0.3]
education = df.Education.value_counts().plot.pie(figsize = (10,9),radius=1,shadow=False, label = '', autopct='%1.f%%')
plt.title('Education', size=20)
plt.show()

In [ ]:

most_common_jobs = df.title.value_counts().sort_values(ascending = True)#nejčastější pozice
most_common_jobs.plot.barh(figsize = (11,8),color='maroon')
plt.title("Most common jobs" ,size=20)
plt.xlabel("Count" ,size= 15)
plt.ylabel("Job title", size = 15)
plt.show()

In [ ]:
#Pojďmě zjistit s jakým vzděláním lidé vydělavají nejvíve peněz
pay_education = df[['totalyearlycompensation','Education']].groupby(['Education']) .mean().sort_values('totalyearlycompensation', ascending = True)
pay_education.plot.barh(figsize= (10,8),legend = False, color = "orange")
plt.xlabel('Salary ($)', size = 16)
plt.ylabel('Education', size = 16)

In [ ]:

plt.figure(figsize=(12,8))
df['Race'].value_counts().plot(kind="bar", color = "Blue")
plt.title("Race", size = 16)
plt.ylabel("Number of workers", size = 13)
plt.show()

In [ ]:
#Zjistěme firmy které platí svým zaměstnancům nejvíce peněz
higest_paying_companies = df[['totalyearlycompensation','company']].groupby(['company']).max().sort_values('totalyearlycompensation',ascending= False).head(10)
higest_paying_companies.plot.barh(figsize = (12,10, ), legend = False)
plt.title('Most paying companies')
plt.xlabel('Wage costs in millions ($)', size = 15)
plt.ylabel('Company', size = 15)

In [ ]:
years_at_company = df['yearsatcompany'].value_counts().head(10).sort_values(ascending=True)
years_at_company.plot.barh(figsize = (14,10), color = "Gray")

plt.show()

In [ ]:
df['gender'].value_counts()