In [1]:
import pandas as pd
df = pd.read_csv('dataPlaty.csv')
df.columns

Index(['timestamp', 'company', 'level', 'title', 'totalyearlycompensation',
       'location', 'yearsofexperience', 'yearsatcompany', 'tag', 'basesalary',
       'stockgrantvalue', 'bonus', 'gender', 'otherdetails', 'cityid', 'dmaid',
       'rowNumber', 'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree',
       'Highschool', 'Some_College', 'Race_Asian', 'Race_White',
       'Race_Two_Or_More', 'Race_Black', 'Race_Hispanic', 'Race', 'Education'],
      dtype='object')

In [2]:
df.gender.value_counts()

Male                               35702
Female                              6999
Other                                400
Title: Senior Software Engineer        1
Name: gender, dtype: int64

In [5]:
df.title.value_counts()

Software Engineer               41231
Product Manager                  4673
Software Engineering Manager     3569
Data Scientist                   2578
Hardware Engineer                2200
Product Designer                 1516
Technical Program Manager        1381
Solution Architect               1157
Management Consultant             976
Business Analyst                  885
Marketing                         710
Mechanical Engineer               490
Sales                             461
Recruiter                         451
Human Resources                   364
Name: title, dtype: int64

In [5]:
df.gender.value_counts()

Male                               35702
Female                              6999
Other                                400
Title: Senior Software Engineer        1
Name: gender, dtype: int64

In [7]:
df.Education.value_counts() #

Master's Degree      15391
Bachelor's Degree    12601
PhD                   1703
Some College           355
Highschool             320
Name: Education, dtype: int64

In [8]:
df['gender'].unique()
df['gender'].replace('Title: Senior Software Engineer', inplace=True)
df['gender'].replace('Unknown', inplace=True )
#vymazaní státem neuznávaná pohlaví

In [23]:
df['count'] = 1
most_common_companies =(
                    df.groupby(['company'])
                    .count()
                    .sort_values(by='count', ascending=False)
                    .head(20)
                    .reset_index()
                    )
most_common_companies[['company', 'count']]

           company  count
0           Amazon   8126
1        Microsoft   5216
2           Google   4330
3         Facebook   2990
4            Apple   2028
5           Oracle   1128
6       Salesforce   1056
7            Intel    949
8              IBM    907
9            Cisco    907
10            Uber    880
11     Capital One    778
12        LinkedIn    701
13          VMware    657
14        Qualcomm    565
15  JPMorgan Chase    541
16       Bloomberg    537
17   Goldman Sachs    469
18          Intuit    449
19          PayPal    426

In [37]:
df[['basesalary','title','company']].sort_values(by='basesalary',ascending=False).head(20)

       basesalary                         title            company
62351   1659870.0               Product Manager          Microsoft
61851   1620000.0             Software Engineer        Squarespace
45054    900000.0         Management Consultant                PwC
56175    893000.0             Software Engineer            Netflix
57701    861000.0             Software Engineer            Netflix
61967    850000.0  Software Engineering Manager          Microsoft
56529    840000.0             Software Engineer            Netflix
37462    800000.0  Software Engineering Manager            Netflix
36746    800000.0             Software Engineer            Netflix
16640    800000.0               Product Manager            Netflix
45210    794000.0               Product Manager  HERE Technologies
38957    760000.0             Software Engineer            Netflix
12177    750000.0             Software Engineer            Netflix
30642    750000.0                     Marketing            Netflix
40726    715000.0             Software Engineer            Netflix
35536    700000.0             Software Engineer            Netflix
37231    700000.0             Software Engineer            Netflix
57518    700000.0  Software Engineering Manager            Netflix
14417    700000.0                Data Scientist            Netflix
29811    700000.0  Software Engineering Manager            Netflix